body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2f4f4f;
  color: white;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 420px 220px 1fr;
  gap: 15px;
  padding: 15px;
}
.panel-klikacz{
  border-radius: 20%;
}

.panel {
  background: #1e3a3a;
  padding: 10px;
  border: 2px solid black;
}

.panel h1 {
  font-size: 26px;
  margin: 5px 0;
}

.panel h2 {
  font-size: 18px;
  margin: 10px 0;
} 

.panel p {
  font-size: 18px;
  margin: 5px 0;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.big-btn {
  padding: 18px;
  font-size: 18px;
  background: #333;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.big-btn:hover {
  background: #555;
}

.arena {
  position: relative;
  height: 450px;
  background: lightgreen;
  border: 3px solid black;
}

.zubr,
.boczek {
  position: absolute;
  transition: left 1s ease, top 1s ease;
  font-size: 32px;
}
